* {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

body {
    background-image: url(./assets/gamer.png);
    background-size: 100%;
    background-position: 400px;
}

.container {
    display: flex;
    height: 95vh;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;
}

.titulo {
    font-size: 2rem;
    font-weight: 300;
}

.formulario {
    font-size: 1rem;
    font-weight: 300;
}

.botao {
    border-radius: 20px;
    background: none;
    font-size: 1.2rem;
}

.teste-botao {
    margin-top: 20px;
    text-align: center;
}

/* ---------------------------------------------------- Mobile ------------------------------------------------------------------ */

@media (max-width: 515px) {
       body {
        background-size: 300%;
        background-position: center;
    }
    
    .container {
        display: flex;
        height: 95vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    input {
        width: 360px;
    }
    
    .titulo {
        font-size: 2rem;
        font-weight: 300;
        width: 100%
    }
    
    .formulario {
        font-size: 1rem;
        font-weight: 300;
    }
    
    .botao {
        width: 220px;
        border-radius: 20px;
        background: none;
        font-size: 1.2rem;
    }
    
    .teste-botao {
        margin-top: 80px;
        text-align: center;
    }




}